body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #555;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 30px;
  font-size: 28px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
}

button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #45a049;
}

.container {
  max-width: 960px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.table {
  margin-bottom: 50px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Importante para evitar sobreposição de bordas */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 14px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.removeButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.removeButton:hover {
  background-color: #c0392b;
}

.addButton {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #27ae60;
}

input[type="text"] {
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  margin-top: 60px;
  padding-top: 30px;
  border-top: 2px solid #ddd;
  color: #777;
}

.footer p {
  margin: 0;
  font-size: 16px;
}
